.Two{
    width: 350px;
}
.one{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.three{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.four{
    width: 400px;
}